<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">异常报警系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/config/list">配置管理</a></li>
                    <li><a href="/exception/list">异常查询</a></li>
                    <li><a href="/exception/chart">异常统计</a></li>
                    <li><a href="/exception/ranking">排名</a></li>
                    <li><a href="/notify/list">报警查询</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">当前用户：<span class="username" sec:authentication="name"></span> </a>
                    </li>
                    <li><a href="/account/logout">注销</a></li>
                </ul>

            </div>
        </div>
    </div>

</div>